@font-face {
    font-family: Calibre;
    src: url(fonts/Calibre/Calibre-Regular.woff2);
}

@font-face {
    font-family: SFMono;
    src: url(fonts/SFMono/SFMono-Regular.woff2);
}

* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Calibre;
    margin: 0;
    background-color: #0a192f;
    color: #8892b0;
    font-size: 20px;
    line-height: 1.3;
    counter-reset: section 0;

    section {
        margin: 0px auto;
        padding: 100px 0px;
        display: flex;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        flex-wrap: wrap;
        min-height: 100vh;
    }

    p {
        margin: 0px 0px 15px;
    }
    
    p > a {
        display: inline-block;
        position: relative;
        color: #64ffda;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        text-decoration: none;
        text-decoration-skip-ink: auto;
    }

    p > a::after {
        content: "";
        display: block;
        width: 0px;
        height: 1px;
        position: relative;
        bottom: 0.37em;
        background-color: #64ffda;
        opacity: 0.5;
    }

    svg {
        width: 20px;
        height: 20px;
    }

}

/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: rgba(10, 25, 47, 0.85);
    justify-content: flex-end;
    align-items: center;
    padding: 20px 40px;

    ol {
        font-family: SFMono;
        font-size: 12px;
        list-style-type: decimal-leading-zero;
        color:#64ffda;
        display: ruby;
    }

    /* Style the navigation bar links */
    a {
        font-family: SFMono;
        font-size: 12px;
        display: inline;
        color: #ccd6f6;
        padding-right: 18px;
        text-decoration: none;
    }

    /* Change color on hover */
    a:hover {
        color: #64ffda;
    }

    #button {
        color: #64ffda;
        border-radius: 5px;
        border-style: solid;
        border-width: thin;
        padding: 12px 16px;
    }
} 

/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.sticky {
    position: sticky;
    bottom: 0px;
    color: #a8b2d1;

    ul {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    a {
        margin: 20px auto;
        padding: 10px;
        font-family: SFMono;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1em;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
    }
}

.sticky::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;
}

/* Main column */
.main {
    flex: 80%;
    padding: 20px;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 765px) {
    .row, .navbar {   
        flex-direction: column;
    }

    .side {
        display: none;
    }
}

#intro {
    font-family: SFMono;
    color: #64ffda;
    font-size: 15px;
    margin: 0px 0px 30px 4px;
}

#name {
    margin: 0px;
    font-size: clamp(40px, 6vw, 80px);
    font-weight: 600;
    color: #ccd6f6;
    line-height: 1.1;
}

#title {
    margin: 0px;
    font-size: clamp(40px, 5vw, 80px);
    font-weight: 600;
    line-height: 1.1;
}

.numbered-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,28px);
    white-space: nowrap;
    font-weight: 600;
    color: #ccd6f6;
    line-height: 1.1;
}

.numbered-heading::before {
    position: relative;
    bottom: 4px;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #64ffda;
    font-family: SFMono;
    font-size: clamp(16px,3vw,18px);
    font-weight: 400;
}

.numbered-heading::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}

.about-section {
    align-items: center;

    ul {
        display: grid;
        grid-template-columns: repeat(3, minmax(140px, 200px));
        gap: 0px 10px;
        padding: 0px;
        margin: 20px 0px 0px;
        overflow: hidden;
        list-style: none;
    }

    li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 20px;
        font-family: SFMono;
        font-size: 13px;
    }

    ul li::before {
        content: "▹";
        position: absolute;
        left: 0px;
        color: #64ffda;
        font-size: 14px;
        line-height: 12px;
    }
}

.jobs-content {
    display: flex;
}

.jobs-list {
    position: relative;
    z-index: 3;
    width: max-content;
    padding: 0px;
    margin: 0px;
    list-style: none;

    button {
        cursor: pointer;
        border: 0px;
        border-radius: 0px;
        border-left: 2px solid #233554;
    }
}

.job-list-item {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0px 20px 2px;
    background-color: transparent;
    color: #8892b0;
    font-family: SFMono;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
}

.job-list-item:hover, .job-list-item:focus {
    background-color: #112240;
}

.job-list-item:hover, .job-list-item:focus-visible {
    color: #64ffda;
    outline: 0px;
}

.active-job-item-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 2px;
    height: 42px;
    border-radius: 4px;
    background: #64ffda;
    transform: translateY(calc(0* 42px));
    transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.job-desc {
    position: relative;
    width: 100%;
    margin-left: 20px;
}

.job-desc-item {
    width: 100%;
    height: auto;
    padding: 10px 5px;

    h3 {
        margin-bottom: 2px;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.3;
        color: #ccd6f6;
        margin-block-start: 0;
    }

    h3 .company {
        color: #64ffda;
    }

    a.inline-link {
        display: inline-block;
        position: relative;
        color: #64ffda;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    }

    a.inline-link::after {
        content: "";
        display: block;
        width: 0px;
        height: 1px;
        position: relative;
        bottom: 0.37em;
        background-color: #64ffda;
        opacity: 0.5;
    }

    ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        font-size: 18px;
    }

    ul li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
    }

    ul li::before {
        content: "▹";
        position: absolute;
        left: 0px;
        color: #64ffda;
    }
}

.range {
    margin-bottom: 25px;
    color: #a8b2d1;
    font-family: SFMono;
    font-size: 13px;
}

.project-list {
    list-style: none;
    padding: 0px;
    margin: 0px;

    a {
        position: relative;
        z-index: 1;
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    }
}

.project-item {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
}

.project-item:not(:last-of-type) {
    margin-bottom: 100px;
}

.project-item:nth-of-type(2n+1) .project-content {
    grid-column: 7 / -1;
    text-align: right;
}

.project-item .project-content {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
}

.project-item .project-overline {
    margin: 10px 0px;
    color: #64ffda;
    font-family: SFMono;
    font-size: 13px;
    font-weight: 400;
}

.project-item .project-title {
    color: #ccd6f6;
    font-size: clamp(24px, 5vw, 28px);
}

.project-item .project-description {
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 4px;
    background-color: #112240;
    color: #a8b2d1;
    font-size: 18px;
    text-align: left;

    a {
        display: inline-block;
        position: relative;
        color: #64ffda;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        z-index: 1;
        text-decoration: none;
        text-decoration-skip-ink: auto;
    
    }

    em {
        display: inline-block;
        position: relative;
        z-index: 1;
        font-family: SFMono;
        font-size: 14px;
        background-color: #0a192f;
        max-width: fit-content;
        text-decoration-skip-ink: auto;
        font-style: normal;
        padding: 1px 7px;
        border-radius: 7px;
    }
}

.project-item .project-description a::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: #64ffda;
    opacity: 0.5;
}

.project-item .project-tech-list {
    display: ruby-text;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;

    li {
        color: #a8b2d1;
        font-family: SFMono;
        font-size: 13px;
        white-space: nowrap;
    }
}

.project-item:nth-of-type(2n+1) .project-tech-list li {
    margin: 0px 0px 5px 20px;
}

.project-item:nth-of-type(2n+1) .project-links {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: -10px;
}

.project-item .project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    color: #ccd6f6;

    a {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        padding: 10px;
        position: relative;
        z-index: 1;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    }

    svg {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

    svg.feather {
        fill: none;
    }
}

.project-item .project-image {
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;

    a {
        width: 100%;
        height: 100%;
        background-color: #64ffda;
        border-radius: 4px;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    }
}

.project-item .project-image a:hover, .project-item .project-image a:focus {
    background: transparent;
    outline: 0px;
    filter: none;
}

.project-item:nth-of-type(2n+1) .project-image {
    grid-column: 1 / 8;
}

.project-item .project-image a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    background-color: #0a192f;
    mix-blend-mode: screen;
}

.project-item .project-image .img {
    border-radius: 4px;
    mix-blend-mode: multiply;
    /* filter: grayscale(100%) contrast(1) brightness(90%); */
}

img, svg, .gatsby-image-wrapper {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.gatsby-image-wrapper-constrained {
    display: inline-block;
}

.gatsby-image-wrapper {
    position: relative;
    overflow: hidden;
}

.contact-section {
    max-width: 600px;
    margin: 0px auto 100px;
    text-align: center;
    align-items: center;
    /* padding: 100px 0px; */

    h2 {
        margin: 0px 0px 10px;
        font-weight: 600;
        color: #ccd6f6;
        line-height: 1.1;
    }
}

.contact-section .overline {
    display: block;
    color: #64ffda;
    font-family: SFMono;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    -webkit-box-align: center;
    position: relative;
    margin: 10px 0px 20px;
    width: 100%;
    white-space: nowrap;
}

.contact-section .overline::before {
    bottom: 0px;
    font-size: 14px;
    position: relative;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #64ffda;
    font-family: SFMono;
    font-weight: 400;
}

.contact-section .title {
    font-size: clamp(40px, 5vw, 60px);
    -webkit-box-align: center;
    position: relative;
    width: 100%;
    white-space: nowrap;
}

.contact-section .email-link {
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    font-family: SFMono;
    line-height: 1;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    margin-top: 50px;
    display: inline-block;
    text-decoration-skip-ink: auto;
    position: relative;
}

.email-link:hover, .email-link:focus-visible {
    outline: none;
    box-shadow: 4px 4px 0 0 #64ffda;
    transform: translate(-5px, -5px);
}

.about-section:hover, .jobs-section:hover, .projects-section:hover, .contact-section {
    opacity: 1;
}



/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #0a192f; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #233554; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}