@font-face {
    font-family: Calibre;
    src: url(fonts/Calibre/Calibre-Medium.woff2);
}

@font-face {
    font-family: SFMono;
    src: url(fonts/SFMono/SFMono-Medium.woff2);
}

body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: #0a192f;
    color: #8892b0;
    font-family: Calibre;
    font-size: 20px;
    line-height: 1.3;
}

header {
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(5px);
    display: block;
    position: fixed;
    height: 100px;
    width: 100%;
    text-align: end;
    align-content: center;
    top: 0;
    z-index: 11;
}

.top-nav-bar {
    padding-right: 40px;

    ul {
        font-family: SFMono;
        font-size: 12px;
        list-style-type: decimal-leading-zero;
        color:#64ffda;
        display: ruby;
    }

    a {
        font-family: SFMono;
        font-size: 12px;
        display: inline;
        color: #ccd6f6;
        padding-right: 18px;
        text-decoration: none;
    }

    a:hover {
        color: #64ffda;
    } 

    a#button {
        color: #64ffda;
        border-radius: 5px;
        border-style: solid;
        border-width: thin;
        padding: 12px 16px;
    }
}

.socials {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: #a8b2d1;

    ul {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    a {
        padding: 10px;
        display: inline-block;
        text-decoration: none;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: initial;
        text-decoration-color: initial;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
    }

    svg {
        width: 20px;
        height: 20px;
    }
}

.socials::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;
}

.email {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: #a8b2d1;
    /* display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative; */

    a {
        margin: 20px auto;
        padding: 10px;
        font-family: SFMono;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1em;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
    }
}

.email::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;
}

main {
    counter-reset: section 0;
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    /* padding: 0px 150px; */

    section {
        margin: 0px auto;
        /* padding: 100px 0px; */
        max-width: 1000px;

        display: flex;
        -webkit-box-pack: center;
        justify-content: space-evenly;
        -webkit-box-align: center;
        flex-direction: column;
        align-items: flex-start;
        min-height: 100vh;
        height: 100vh;
        padding: 0px;
    }
}

@media (max-width: 1080px) {
    main.fillHeight {
        padding: 0px 130px;
    }
}

.title-page {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;
    padding: 0px;
}

#intro {
    font-family: SFMono;
    color: #64ffda;
    font-size: 15px;
    margin: 0px 0px 30px 4px;
}

#name {
    margin: 0px;
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 600;
    color: #ccd6f6;
    line-height: 1.1;
}

#title {
    margin: 0px;
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 600;
    /* color: #ccd6f6; */
    line-height: 1.1;
}

.numbered-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,28px);
    white-space: nowrap;
    font-weight: 600;
    color: #ccd6f6;
    line-height: 1.1;
}

.numbered-heading::before {
    position: relative;
    bottom: 4px;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #64ffda;
    font-family: SFMono;
    font-size: clamp(16px,3vw,18px);
    font-weight: 400;
}

.numbered-heading::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}

.jobs-content {
    display: flex;
}

@media (min-width: 700px) {
    .jobs-content {
        min-height: 340px;
    }
}

.jobs-list {
    position: relative;
    z-index: 3;
    width: max-content;
    padding: 0px;
    margin: 0px;
    list-style: none;

    button {
        cursor: pointer;
        border: 0px;
        border-radius: 0px;
        border-left: 2px solid #233554;
    }
}

.job-list-item {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0px 20px 2px;
    background-color: transparent;
    color: #8892b0;
    font-family: SFMono;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
}

.job-list-item:hover, .job-list-item:focus {
    background-color: #112240;
}

.job-list-item:hover, .job-list-item:focus-visible {
    color: #64ffda;
    outline: 0px;
}

:focus:not(:focus-visible) {
    outline: none;
    outline-offset: 0px;
}

.ative-job-item-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 2px;
    height: 42px;
    border-radius: 4px;
    background: #64ffda;
    transform: translateY(calc(0* 42));
    transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.job-desc {
    position: relative;
    width: 100%;
    margin-left: 20px;
}

.job-desc-item {
    width: 100%;
    height: auto;
    padding: 10px 5px;

    h3 {
        margin-bottom: 2px;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.3;
        color: #ccd6f6;
        margin-block-start: 0;
    }

    h3 .company {
        color: #64ffda;
    }

    a.inline-link {
        display: inline-block;
        position: relative;
        color: #64ffda;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    }

    a.inline-link::after {
        content: "";
        display: block;
        width: 0px;
        height: 1px;
        position: relative;
        bottom: 0.37em;
        background-color: #64ffda;
        opacity: 0.5;
    }

    ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        font-size: 18px;
    }

    ul li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
    }

    ul li::before {
        content: "▹";
        position: absolute;
        left: 0px;
        color: #64ffda;
    }
}

.range {
    margin-bottom: 25px;
    color: #a8b2d1;
    font-family: SFMono;
    font-size: 13px;
}

.project-list {
    list-style: none;
    padding: 0px;
    margin: 0px;

    a {
        position: relative;
        z-index: 1;
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        transition: var(--transition);
    }
}

.project-item {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
}

.project-item:not(:last-of-type) {
    margin-bottom: 100px;
}

.project-item:nth-of-type(2n+1) .project-content {
    grid-column: 7 / -1;
    text-align: right;
}

.project-item .project-content {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
}

.project-item .project-overline {
    margin: 10px 0px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    font-weight: 400;
}

@media (min-width: 768px) {
    .project-item .project-title {
        margin: 0px 0px 20px;
    }
}

.project-item .project-title {
    color: var(--lightest-slate);
    font-size: clamp(24px, 5vw, 28px);
}

.project-item .project-description {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: var(--border-radius);
    background-color: var(--light-navy);
    color: var(--light-slate);
    font-size: var(--fz-lg);

    a {
        display: inline-block;
        position: relative;
        color: var(--green);
        transition: var(--transition);
        z-index: 1;
        text-decoration: none;
        text-decoration-skip-ink: auto;
    
    }
}

.project-item .project-description a::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: var(--green);
    opacity: 0.5;
}

.project-item .project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;

    li {
        margin: 0px 20px 5px 0px;
        color: var(--light-slate);
        font-family: var(--font-mono);
        font-size: var(--fz-xs);
        white-space: nowrap;
    }
}

.project-item:nth-of-type(2n+1) .project-tech-list li {
    margin: 0px 0px 5px 20px;
}

.project-item:nth-of-type(2n+1) .project-links {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: -10px;
}

.project-item .project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
    color: var(--lightest-slate);

    a {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        padding: 10px;
        position: relative;
        z-index: 1;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        transition: var(--transition);
    }

    svg {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

    svg.feather {
        fill: none;
    }
}

.project-item .project-image {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;

    a {
        width: 100%;
        height: 100%;
        background-color: var(--green);
        border-radius: var(--border-radius);
        vertical-align: middle;
        position: relative;
        z-index: 1;
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        transition: var(--transition);
    }
}

.project-item:nth-of-type(2n+1) .project-image {
    grid-column: 1 / 8;
}

.project-item .project-image a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    transition: var(--transition);
    background-color: var(--navy);
    mix-blend-mode: screen;
}

.project-item .project-image .img {
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1) brightness(90%);
}

img, svg, .gatsby-image-wrapper {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.gatsby-image-wrapper-constrained {
    display: inline-block;
}

.gatsby-image-wrapper {
    position: relative;
    overflow: hidden;
}

/* .inner-jobs {
    ul {
        position: relative;
        z-index: 3;
        width: max-content;
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    li a {
        
        text-decoration: none;
        text-decoration-skip-ink: auto;
        position: relative;
        transition: var(--transition);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        height: 42px;
        padding: 0px 20px 2px;
        border-left: 2px solid #233554;
        background-color: transparent;
        color: #8892b0;
        font-family: SFMono;
        font-size: 13px;
        text-align: left;
        white-space: nowrap;
    }
    
}

.active-item:hover, .active-item:focus {
    background-color: #112240;
}

.active-item a:hover, .active-item:focus-visible {
    color: #64ffda;
    outline: 0px;
}

.active-nav-job-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 2px;
    height: 44px;
    border-radius: 4px;
    background: #64ffda;
    transform: translateY(calc(2* 46px));
    transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
} */


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0a192f; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #233554; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
